.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding: 0px;
  color: palevioletred;
  background-image: linear-gradient(orange red);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  margin-top: 0px;
  border-radius: 10px;
  margin-left: 0px;
  min-height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#3254F4;
  margin-bottom: 50px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
