.resultstyle {
    align-content: flex;
    max-width: 100%;
    /* border-radius: 5px; */
    justify-content: center;
    /* box-shadow: 0 0 10px 2px; */
    font-size: 45px;  
    /* color: darkorange; */
    border-right: green;
    margin: 2 2 5 5px;
}
.color {
    color: mediumblue;
}

p {
    font-size:30px;
}
h1.hidden {
    display: none;
  }
