.resultstyle {
    width: 800px;
    max-width: 80%;
    /* background-image: url("./components/Images/whitetexture.jpg"); */
    background-color: gold;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 50px;
    
}

p {
    size: 25%;
}

.pic {

    size: 25%;
}
