
 *, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

body {
  
  padding: 0;
  margin: 10;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./components/Images/compass.gif");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: left-middle;
}
.container {
  width: 800px;
  max-width: 80%;
  /* background-image: url("./components/Images/whitetexture.jpg"); */
  background-color: rgb(167, 158, 46);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-size: 50px;
  }
  #size {
    font-size: 25px;
    margin-bottom: 2%;
    color: chocolate;
  }

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);

  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: green;
  font-size: 30px;
  outline: none;
}


.btn:hover {
  border-color: black;
    border-radius: 10%;
    background-color: peru;
}
.container-ans {
  background-color: lightcyan;
  
  /* border-radius: 5px;
  padding: 3px;  */
  
  }